@charset "utf-8";

table {
  text-align: center;
  border: 2px solid white;
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 2px solid white;
  border-collapse: collapse;
}

button {
  height: 40px;
  width: 15%;
  border: 1px solid blue;
  background-color: rgb(169, 169, 169);
  color: white;
}

.inputText {
  width: 95%;
  height: 100%;
  border: none;
  background: transparent;
  text-align: center;
}

div.infoDiv {
  height: 40px;
  /*border: 1px solid violet;*/
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  /* grid-auto-rows: minmax(100px, auto); */
}

div.gradeDiv {
  grid-column: 1;
  grid-row: 2;
}

div.tableDiv {
  background-color: rgb(169, 169, 169);
  display: grid;
}

#thead {
  color: white;
}

tbody tr:nth-child(odd) {
  background-color: rgb(230, 230, 230);
}

tbody tr:nth-child(even) {
  background-color: rgb(200, 255, 255);
}

#tfoot {  /*합계*/
  background-color: rgb(169, 169, 169);
}